:root {
  --primary: #c271ff;
  --font-family-base: "Source Sans Pro", sans-serif;
}

/* Navbar */
.navbar-general {
  border-bottom: none;
  background-color: transparent !important;
  font-family: var(--font-family-base);
  position: absolute;
}

.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.smile-face {
  width: 36px;
}

.logo-text {
  width: 114px;
}

.nav-link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 12px !important;
  line-height: 15px;
  color: #ffffff !important;
}

/* Header */
.header-section {
  background-image: url(images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 1rem 5rem 1rem;
}

.display-1 {
  line-height: 1.1 !important;
}

.title {
  font-size: 5rem;
  margin-bottom: 30px !important;
}

.list-inline {
  margin-bottom: 30px !important;
}

.subtitle {
  margin-top: 10rem;
  font-size: 32px;
  font-weight: 300;
  font-family: var(--font-family-base);
}

.btn-primary {
  background-color: var(--primary);
  font-family: var(--font-family-base);
  font-size: 14px;
  width: 162px;
  height: 44px;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
  align-self: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--primary);
  opacity: 0.9;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--primary);
  border-color: var(--primary);
  opacity: 0.9;
}

.learn {
  color: var(--primary);
  font-family: var(--font-family-base);
  font-weight: bold;
}

/* Team */
.container-team {
  margin-top: 5rem;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 8rem;
  height: 8rem;
}

.team-member h4 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #ffffff;
}

.text-small {
  font-family: "Source Sans Pro";
  font-size: 16px;
}

/* Section Quote */
.section-quote {
  background-color: var(--primary);
}

.carousel-item {
  background-color: transparent;
}

.carousel-item blockquote {
  border-left: none;
  margin: 0;
}

.icon-prev-white,
.icon-next-white {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
}

.text-quote,
.text-small-quote {
  font-family: "Source Sans Pro";
}

.text-quote,
.text-small-quote {
  font-weight: 400;
  font-size: 18px;
}

/* Tutorial section */
.section-tutorial {
  padding: 97px 0;
}

.subtitle-popular {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: #000000;
}

.text-popular {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #c271ff;
}

.img-top {
  max-width: 255px;
}

.img-play {
  position: absolute;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.card {
  width: 242px;
}

.carousel-item .row {
  max-width: 1100px;
}

.card-title-tutorial {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #071629;
}

.card-text-tutorial {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(7, 22, 41, 0.501584);
}

.name-author {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #c271ff;
}

.time {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  text-align: right;
  color: #c271ff;
}

.icon-prev-black,
.icon-next-black {
  color: #071629;
  font-size: 5rem;
  font-weight: 500;
}

.img-author {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.img-score {
  width: 15px;
}
